{% extends 'base.html.twig' %}

{% block body %}
<section class="view-media">
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-5 mb-3">Nos photos :</h3>
                <div class="row justify-content-center">
                {% for media in medias %}
                    {% for image in media.images %}
                    <div class="col-md-4 mt-2 mb-2">
                        <img class="img-fluid" id="picture{{ image.id }}" onclick="openModal({{ image.id }});" src="{{ asset('assets/img/upload/') }}{{image.image}}" alt="{{ image.name }}">
                    </div>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>

        {% for media in medias %}
            {% for image in media.images %}
            <!-- The Modal/Lightbox -->
            <div id="myModal{{ image.id }}" onclick="closeModal({{ image.id }})" class="modal">
                <span class="close-cursor" onclick="closeModal({{ image.id }})">&times;</span>
                <div class="modal-content">
                    <div class="mySlides text-center">
                        <img src="{{ asset('assets/img/upload/') }}{{image.image}}" class="w-75 " alt="{{ image.name }}">
                    </div>
                    <!-- Caption text -->
                    <div class="caption-container">
                        <p id="caption" class="mt-3">{{ image.name }}</p>
                    </div>

                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </article>
</section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/lightBox.css') }}">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        /*document.querySelector('img').addEventListener('click', (n) => {
            document.getElementById("myModal" + n + "").style.display = "block";
        });*/
        if(window.innerWidth > 767) {
            // Open the Modal
            function openModal(n){
                document.getElementById("myModal" + n + "").style.display = "block";
            }
            // Close the Modal
            function closeModal(n){
                document.getElementById("myModal" + n + "").style.display = "none";
            }
        }
    </script>
{% endblock %}