{% extends 'base.html.twig' %}

{% block body %}
<section class="view-media">
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-5 mb-3">Nos photos :</h3>
                <div class="row justify-content-center">
                {% for media in medias %}
                    {% for image in media.images %}
                    <div class="col-md-4 mt-2 mb-2">
                        <img class="img-fluid" id="{{ image.id }}" src="{{ asset('assets/img/upload/') }}{{image.image}}" alt="{{ image.name }}">
                    </div>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>

        <!-- The Modal/Lightbox -->
        <div class="modal myModal closeUp">
            <span class="close-cursor closeUp">&times;</span>
            <div class="modal-content">
                <div class="mySlides text-center"></div>
                <!-- Caption text -->
                <div class="caption-container"></div>
            </div>
        </div>
    </article>
</section>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/styles/lightBox.css') }}">
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    if(window.innerWidth > 767) {
        const select = document.querySelectorAll('img');
        for(var i=0;i < select.length; i++){
            const item = select[i];
            const Id = item.getAttribute('id');
            const src = item.getAttribute('src');
            const alt = item.getAttribute('alt');
            document.getElementById(Id).onclick = function () {
                document.querySelector(".myModal").style.display = "block";
                document.querySelector('.mySlides').innerHTML = '<img src="'+src+'" class="w-75"/>';
                document.querySelector('.caption-container').innerHTML = '<p id="caption" class="mt-3">'+alt+'</p>'
            };
        }
        document.querySelector('.closeUp').onclick = function () {
            document.querySelector(".modal").style.display = "none";
            document.querySelector('.mySlides > img').remove();
            document.querySelector('.caption-container > p').remove();
        }
    }
</script>
{% endblock %}