{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <article class="container">
            <div id="shows" class="mt-3">
                <img src="{{ asset("assets/img/header-page-shows.jpg") }}" class="img-fluid" alt="" />
            </div>
        </article>
        <article class="container">
            {% if shows|length > 0 %}
                <h1>Our shows</h1>
                <div class="row">
                    <div class="col-6 justify-content-center">
                        {% for show in shows %}
                            <div class="row">
                                <div class="col shows-container mt-5">
                                    <h3><a href="{{ path('show', { 'id': show.id }) }}">{{ show.name }}</a></h3>
                                    <p>On : {{ show.date|date("d M Y") }}, at {{ show.date|date("h:i a") }}</p>
                                    <p>Place : {{ show.concertHall }}</p>
                                    {% if show.adress is defined and show.adress is not null %}
                                        <p>Adress : {{ show.adress }}</p>
                                    {% endif %}
                                    {% if show.city is defined and show.city is not null %}
                                        <p>City : {{ show.city }}</p>
                                    {% endif %}
                                    {% if show.region is defined and show.region is not null %}
                                        <p>Region : {{ show.region }}</p>
                                    {% endif %}
                                    {% if show.country is defined and show.country is not null  %}
                                        <p>Country : {{ show.country }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </article>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}